<div class="container col-md-12 border rounded formCard">
  <h2>
    Update examples
  </h2>
  <div class="card-columns">
    {{#each examples}}
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ this.name }}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{ this.language }}</h6>
          <label>Example code</label>
          <p class="card-text">
            {{ this.code }}
          </p>
        </div>
        <div class="btnGroup">
          <a href="/updateexample" class="card-link secondary-button">Update</a>
          <button type="button" class="deleteEexmaple primary-button" onclick="passData()" data-id={{ this._id }} data-name={{ this.name }} data-toggle="modal" data-target="#deleteModal">Delete</button>
        </div>
      </div>
    {{/each}}
  </div>
</div>
<script>
  function passData() {
    document.getElementByClassName("deleteName").innerHTML = document.getElementById("deleteEexmaple").getAttribute('data-name');
    document.getElementById("deleteID").innerHTML = document.getElementById("deleteEexmaple").getAttribute('data-id');
  }
</script>
