<h1 class="display-4">Lessons</h1>
<div class="card-columns">
  {{#each lessons}}
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ this.name }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">Language: {{ this.language }}</h6>
        <h6 class="card-text">
          {{ this.description }}
        </h6>
        <h6 class="alert alert-info">
          {{ this.details }}
        </h6>
        <div class="btnGroup">
          <a href="/updatelesson" class="btn btn-info">Update</a>
          <a href="#" class="btn btn-danger" onclick="passData()" data-id={{ this._id }} data-name={{ this.name }} data-toggle="modal" data-target="#deleteModal">Delete</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>

<script>
  function passDeleteData(el) {
    let delItem = el.attributes[3].nodeValue;
    document.getElementById("deleteItem").setAttribute('data-idDelete', delItem);
    document.cookie = "deleteId=" + delItem;
  }
</script>
