<h1 class="display-4">Examples</h1>
<div class="card-columns">
  {{#each examples}}
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ this.name }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">Language: {{ this.language }}</h6>
        <label>Example code</label>
        <h6 class="alert alert-info">
          {{ this.code }}
        </h6>
        <div class="btnGroup">
          <a href="/updateexample" class="btn btn-info">Update</a>
          <a href="#" class="btn btn-danger" onclick="passData()" data-id={{ this._id }} data-name={{ this.name }} data-toggle="modal" data-target="#deleteModal">Delete</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>



<script>
  function passData() {
    document.getElementByClassName("deleteName").innerHTML = document.getElementById("deleteEexmaple").getAttribute('data-name');
    document.getElementById("deleteID").innerHTML = document.getElementById("deleteEexmaple").getAttribute('data-id');
  }
</script>
