<!-- MODALS - DELETE-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modallogo">Delete<span class="dotCom"> Item</span></div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container" style="padding:10px;">
        Are you sure you want to delete this item - <span id="deleteName"></span>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="deleteItem" data-idDelete="" onclick="deleteTheItem()" class="btn btn-primary" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="container col-md-12 border rounded formCard">
  <h2>
    View lessons
  </h2>
  <div class="card-deck">
    {{#each lessons}}
            <div class="card">
      <div class="card-body">
          <h4 class="card-title">{{ this.name }}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{ this.language }}</h6>
          <label>Descirption</label>
          <p class="card-text">
            {{ this.description }}
          </p>
          <label>Details</label>
          <p class="card-text">
            {{ this.details }}
          </p>
          <a href="/updatelesson" class="card-link">Update</a>
          <button type="button" class="deleteExample" onclick="passData(this)" data-id={{this._id}} data-toggle="modal" data-target="#deleteModal">Delete</button>
        </div>
      </div>
    {{/each}}
  </div>
</div>
<script>
  function passData(el) {
    var tt = el.attributes[3].nodeValue;
    document.getElementById("deleteItem").setAttribute('data-idDelete',tt);
  }
</script>
